body{
  box-sizing: border-box;
  font-family: sans-serif;
}
dt, dd{
  display: inline;
}
dt {
  &:before {
    content: '\A';
    white-space: pre;
  }
  &:first-child {
    &:before {
      content: '';
    }
  }
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons *{
  margin: 2px 10px;
  color: red;
}
footer{
  text-align: center;
}
img{
  box-shadow:10px 5px 5px rgba(255, 0, 0, 0.834);

}
.des{
  margin-bottom: 40px;
}