dt, dd{
  display: inline;
}
dt {
  &:before {
    content: '\A';
    white-space: pre;
  }
  &:first-child {
    &:before {
      content: '';
    }
  }
}
.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.icons *{
  margin: 2px 10px;
  color: red;
}