@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
body{
  box-sizing: border-box;
  font-family: sans-serif;
}
header>h1{
  color: #3A3A3A;
  font-size: 48px;
  font-family:"Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
header>h1>span{
  color: #FF408C;
}
.container{
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
.left{
  width: 60%;
  background-color: rebeccapurple;
}
.right{
  width: 35% ;
  background-color: pink;
}
